{% extends "base.html" %}
{% from 'macros.html' import h1 %}

{% block body %}
<div class="max-w-4xl mx-auto px-6 pt-6 w-full">
	<div>
		<div class="flex flex-row justify-between">
			{{ h1("vpn overview") }}
			<div class="flex-none">
				{% if current_user.is_authenticated %}
					{{ current_user.username }}
				{% endif %}
			</div>
		</div>
	</div>
	<!--
	<div class="max-w-4xl mx-auto px-6 mb-16">
		<blockquote class="relative m-4 mb-8 p-4 text-md border-l-4 bg-neutral-100 text-neutral-700 border-neutral-400">
			<p class="italic quote  mb-4">    
				Virtual private network (VPN) is a network architecture for virtually extending a private network
				(i.e. any computer network which is not the public Internet) 
				across one or multiple other networks which are either untrusted [...] 
				or need to be isolated (thus making the lower network invisible or not directly usable).
			</p><p>
				A VPN can extend access to a private network to users who do not have direct access to it, 
				such as [the mini-internet] allowing secure access from off-site over the Internet.
			</p><br>
			<cite>
				<a href="https://en.wikipedia.org/wiki/Virtual_private_network" class="flex items-center not-italic">
					<img alt="avatar" class="w-12 mr-4 rounded-full"
						src="https://upload.wikimedia.org/wikipedia/commons/6/63/Wikipedia-logo.png" />
					<div class="flex flex-col">
						<span class="text-md text-neutral-800 ">Virtual Private Network</span>
						<span class="text-sm text-neutral-500 ">wikipedia.org</span>
					</div>
				</a>
			</cite>
		</blockquote>
	-->

		<!-- Informational Message (Displayed only when no tab is selected) -->
		{% if interface_id is none %}
		<div
			class="mb-8 p-4 text-md border-l-4 bg-neutral-100 text-neutral-700 border-neutral-400 flex flex-row">
			<div
				class="flex shrink-0 items-center justify-center text-2xl row-span-2 w-12 h-12 mr-4 rounded-full bg-orange-300">
				💬
			</div>
			<p>Welcome to the VPN Overview. <br>
			   Please select a tab to view detailed information.</p>
		</div>
		{% endif %}

		<!-- Tab Selector -->
		<div class="mt-6 border-b border-neutral-300">
			<div class="flex -mb-px space-x-6 flex-wrap justify-between">
				<!-- Loop through tabs to generate the tab bar -->
				{% for id, label in labels.items() %}
				<a href="{{ url_for('.vpn', interface_id=id) }}" 
					class="py-2 px-4 text-sm font-medium rounded-t-md 
					{% if id |string == interface_id |string %}bg-white text-[#ff7e79] border-b-2 border-[#ff7e79]{% else %}text-neutral-600 hover:text-[#ff7e79]{% endif %}">
					{{ label }}
				</a>
				{% endfor %}
			</div>
		</div>

		<!-- Current Tab Content -->
		{% if interface_id is not none %}
		<div id="tab-content" class="mt-4">
			<div class="flex flex-wrap justify-center gap-8">
				{% for peer in peer_forms %}
				<form 
							method="POST" 
							action="{{ url_for('.vpn_peer', peer_id=peer.peer_id.data, next=request.url) }}" 
							class="w-full flex items-center justify-center group-focus-within:visible"
						>
					{{ peer.hidden_tag() }}
					<input type="hidden" name="enable_flag" value=1 />	<!-- Set this so we know that this client should be enabled when the form is submitted -->
					
					<!-- If the peer is in use, display detailed information -->
					{% if peer.in_use.data %}
					<div class="bg-white rounded-lg shadow-lg p-8 flex flex-col justify-center items-center max-w-xs w-full">
						{{ peer.peer_name(class="text-2xl font-semibold text-center focus:border-2 focus:border-gray-300 rounded-md p-2 w-full focus:outline-none focus:ring-2 focus:ring-[#ff7e79]") }}
						{% for error in peer.peer_name.errors %}
							<p class="text-red-500 text-sm mt-2">{{ error }}</p>
						{% endfor %}

						<p class="mb-2"> {{ peer.ip_address.data }} </p>
						<p class="mb-2"> {{ peer.lastSeen.data }} </p>
						<p class="mb-2"> {{ peer.isConnected.data }} </p>
						<p class="mb-2"> {{ peer.transferRxUnits.data }} </p>
						<p class="mb-2"> {{ peer.transferTxUnits.data }} </p>
						<p class="mb-2"> {{ peer.endpoint.data }} </p>
						<img 
							src="data:image/png;base64,{{ peer.qr_image.data }}" 
							alt="No qr-code found." 
							class="w-full h-180 object-contain rounded-md"
						/>
						<a href="{{ url_for('.vpn_peer', peer_id=peer.peer_id.data) }}" 
						class="mt-6 px-6 py-3 bg-black text-white text-lg rounded-sm hover:bg-[#ff7e79] transition duration-300">
							Download Config
						</a>
					</div>
					{% endif  %}

					<!-- If the peer is NOT in use, display an add button -->
					{% if not peer.in_use.data %}
					{{ peer.peer_name(class="hidden") }}
					<a 
						class="bg-neutral-200 rounded-lg shadow-lg p-8 flex flex-col justify-center items-center max-w-xs w-full group cursor-pointer min-h-[500px] h-[50vh]"
						href="#"
        				onclick="event.preventDefault(); this.closest('form').submit();"
					>
						<p class="text-5xl font-bold text-neutral-600 group-hover:text-[#ff7e79] transition duration-300"> + </p>
						<p class="mt-4 text-neutral-600 group-hover:text-[#ff7e79] transition duration-300">Add Peer</p>
					</a>
					{% endif  %}
				</form>
				{% endfor %}
			</div>
		</div> 
		{% endif %}

	</div>
</div>

{% endblock %}