
<!-- Only add VPN to navigation bar, if VPN has been enabled in the config. -->

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href={{url_for('static', filename='style.css' )}}>

    <script src="{{url_for('static', filename='tailwind.js' )}}"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              keyframes: {
                typing: {
                  "0%": {
                    width: "0%",
                    visibility: "hidden"
                  },
                  "100%": {
                    width: "100%",
                    visibility: "visible"
                  }
                },
                blink: {
                  "50%": {
                    borderColor: "white"
                  },
                  "100%": {
                    borderColor: "transparent"
                  }
                }
              },
              animation: {
                typing: "typing 2s steps(20), blink .2s 10"
              }
            },
          },
          plugins: [],
        }
    </script>
    <title>Routing Project
    </title>
    {% endblock %}
</head>

<body class="flex flex-col min-h-screen">
    <!-- Flex and min-height allow the Krill iframe to fill the screen. -->
    <!-- Menu bar background (full-width). -->
    <div id="menu" class="flex-none w-full bg-[#1c1c21] text-white mb-8">
        <nav class="max-w-6xl mx-auto flex items-center justify-between flex-wrap p-4">
            <!-- Logo -->
	    <a href="/">
            <div class="flex items-center flex-shrink-0 mr-6 text-3xl">
                <img class=" h-16 pr-4" alt="logo" src="{{url_for('static', filename='logo.svg')}}" />
                <!-- <span class="text-gray-400 pr-2">></span> -->
		<span>routing project</span>
            </div>
	    </a>
            <!-- Menu -->
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"></div>
        </nav>
    </div>
    <div class="flex-none w-full h-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 absolute -z-10"> </div>
    <div class="max-w-6xl mx-auto flex flex-wrap mb-8 mt-10">
        {% for i,line in response %}
            <div class="w-full text-center mb-8">
              <div class="w-max flex mx-auto text-center">
                <h1 class="animate-typing text-center justify-center mx-auto text-white text-5xl overflow-hidden whitespace-nowrap border-r-4 border-r-transparent p-2", style="animation-delay: {{2*i}}s; animation-fill-mode: forwards; visibility: hidden;">{{line}}<br></h1>
              </div>
            </div>
        {% endfor %}
    </div>
</body>

</html>
