
<!-- Only add VPN to navigation bar, if VPN has been enabled in the config. -->

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href={{url_for('static', filename='style.css' )}}>

    <script src="{{url_for('static', filename='tailwind.js' )}}"></script>

    <title>Routing Project
    </title>
    {% endblock %}
</head>

<body class="flex flex-col min-h-screen">
    <!-- Flex and min-height allow the Krill iframe to fill the screen. -->
    <!-- Menu bar background (full-width). -->
    <div id="menu" class="flex-none w-full bg-[#1c1c21] text-white mb-8">
        <nav class="max-w-6xl mx-auto flex items-center justify-between flex-wrap p-4">
            <!-- Logo -->
	    <a href="/">
            <div class="flex items-center flex-shrink-0 mr-6 text-3xl">
                <img class=" h-16 pr-4" alt="logo" src="{{url_for('static', filename='logo.svg')}}" />
                <!-- <span class="text-gray-400 pr-2">></span> -->
		<span>routing project</span>
            </div>
	    </a>
            <!-- Menu -->
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"></div>
        </nav>
    </div>
    <div clas="text-black text-3xl max-w-6xl mx-auto flex flex-wrap bg-white">
        {% for line in response %}
            {{line}}<br>
        {% endfor %}
    </div>
</body>

</html>
