{% extends "base.html" %}
{% macro make_icon(char, background) -%}
<div class="flex items-center justify-center text-2xl row-span-2 w-12 mr-4 rounded-full {{background}}">{{char|safe}}
</div>
{%-
endmacro %}
{% macro icon(role) -%}
{% if role|lower=="provider" %}
{{make_icon("🎩", 'bg-orange-300')}}
{% elif role|lower=="customer" %}
{{make_icon("💳", 'bg-lime-200')}}
{% elif role|lower=="peer" %}
{{make_icon("🤝", 'bg-blue-200')}}
{% else %}
{{make_icon("?", 'bg-neural-200')}}
{% endif %}
{%-
endmacro %}
{% macro party(data) -%}
<div class="box-content w-48 m-2 p-2 px-4 rounded border border-neutral-300 flex flex-col">
    <div class="self-center text-sm text-neutral-700">{{data.role|upper}}</div>
    <div class="flex flex-row justify-center">
        {{icon(data.role)}}
        <div class="flex flex-col mr-2">
            <div class="font-bold"><b>AS {{data.asn}}</b> <span class="text-neutral-500">/</span>
                {{data.router}}</div>
            <div class="text-sm text-neutral-700">{{data.ip if data.ip is not none else "N/A"}}</div>
        </div>
    </div>
</div>
{%- endmacro %}
{% block body %}
<div class="max-w-4xl mx-auto p-6">
    <h1 class="text-4xl underline underline-offset-2 decoration-4  decoration-[#ff7e79] mono mb-4">AS connections</h1>

    <p>
        This list shows all inter-AS connections. For each connection, it shows both involved ASes, the edge-routers at
        which their networks are connected, as well as their business relationship.
    </p>
    <p class="mb-4">
        Initially, the interfaces are not yet configured.
        When setting them up, use the IP addresses provided below.
    </p>

    {% if connections %}

    <div class="flex flex-col items-center">
        <form action="{{url_for('as_connections')}}">
            <button type="submit" class="rounded border p-0 px-4
                text-black border-black
                disabled:text-neutral-400 disabled:border-neutral-300
                hover:text-[#ff7e79] hover:border-[#ff7e79]
                " {% if group is none %}disabled{% endif %}>reset
                filter</button>
        </form>
        <div class="flex flex-row">
            <div class="flex items-center justify-center box-content w-48 m-2 px-4">
                <select class="bg-transparent font-bold border-0 border-b-2 border-neutral-400 hover:border-[#ff7e79]"
                    onchange="if (this.value) window.location.href=this.value">
                    <option {% if group is none %}selected{%endif%} value="{{url_for('as_connections', group=None)}}">
                        any AS
                    </option>
                    {% for _group in dropdown_groups|sort %}
                    {# Always reset second field. #}
                    <option {% if _group==group %}selected{%endif%} value="{{url_for('as_connections', group=_group)}}">
                        AS {{_group}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="text-xl text-neutral-500 font-bold mono self-center">
                <>
            </div>
            <div class="flex items-center justify-center box-content w-48 m-2 px-4">
                <select
                    class="max-w-4xl m-2 bg-transparent font-bold border-0 border-b-2 border-neutral-400 hover:border-[#ff7e79]"
                    onchange="if (this.value) window.location.href=this.value">
                    <option {% if othergroup is none %}selected{%endif%}
                        value="{{url_for('as_connections', group=group)}}">
                        any AS
                    </option>
                    {% for _group in dropdown_others|sort %}
                    {# If group is None, selecting other selects group instead. #}
                    <option {% if _group==othergroup %}selected{%endif%}
                        value="{{url_for('as_connections', group=group if group is not none else _group, othergroup=_group if group is not none else None)}}">
                        AS {{_group}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% for conn in connections %}
        <div class="flex flex-row">
            {{ party(conn[0])}}
            <div class="text-xl text-neutral-500 font-bold mono self-center">
                <>
            </div>
            {{ party(conn[1])}}
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p>There are no connections!</p>
    {% endif %}
    {% endblock %}
</div>