{% extends "base.html" %}
{% from 'macros.html' import h1 %}

{% block head %}
{{ super() }}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% endblock %}

{% block body %}
<!-- Column for text etc with fixed size. -->                                                                                                                                                                                                                                   
<div class="max-w-4xl mx-auto p-6">                                                                                                                                                                                                                                             
        {{ h1("IRRd web interface") }}                                                                                                                                                                                                                                         
        <p class="mb-2">                                                                                                                                                                                                                                                        
                <form action="http://ee-tik-nsgvm009.ethz.ch:8000/irrd-request" method="GET">
                        <input type="text" name="object" placeholder="AS3">
                        <input type="submit" value="Submit">
                </form>
                                                                                                                                                            
                <pre>
{{ irrd_data }}                                                                                                                                             
                </pre>
        </p>                                                                                                                                                                                   
</div>  
{% endblock %}
