#----------------------------------------------------------------------
# Global settings
#----------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000



#----------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#----------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    60s
    timeout queue           1m
    timeout connect         60s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           60s

    maxconn                 3000

#----------------------------------------------------------------------
# Frontend which receives traffic from the mini-internet over https
# (Krill Publication Server)
#----------------------------------------------------------------------
frontend mini_internet
    bind *:3000 ssl crt /etc/ssl/certs/cert.includesprivatekey.pem
    mode http
    acl testbed_in_uri path_beg /testbed
    use_backend krill unless testbed_in_uri
    default_backend no-match

frontend mini_internet_insecure
    bind *:3080
    mode http
    acl testbed_in_uri path_beg /testbed
    use_backend krill unless testbed_in_uri
    default_backend no-match

#----------------------------------------------------------------------
# Backends which forwards traffic to Krill via localhost, using Krill's 
# certificate
#----------------------------------------------------------------------
backend krill
    mode http
    server krill_server 127.0.0.1:3001 ssl check inter 60s check-ssl verify none

backend no-match
    mode http
    http-request deny deny_status 403
